# apt requirements: n daemon,
# virtualenv, qemu-kvm and utils, spicec, rdp? vnc/remmina?
# libguestfs-tools
# sudo adduser joe kvm

# python requirements:

sh
ruamel.yaml
#yamlordereddictloader
clg
ipython
